
<app-navbar></app-navbar>
<header class="bg-dark">
  <!-- Start: Hero Clean Reverse -->
  <div class="container pt-4 pt-xl-5">
    <div class="row pt-5">
      <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
        <div class="text-center">
          <p class="fw-bold text-success mb-2">Daniel Busetto</p>
          <h1 class="fw-bold">Gestionale Simulazione Test Finale</h1>
        </div>
      </div>
      <div class="col-12 col-lg-10 mx-auto">
        <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
          <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"></div>
          <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"></div>
          <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"></div>
        </div>
      </div>
    </div>
  </div><!-- End: Hero Clean Reverse -->
</header><!-- Start: Brands -->
<section class="py-5"></section><!-- End: Brands -->
<section>
  <!-- Start: Features Cards -->
  <div class="container bg-dark py-5">
    <router-outlet></router-outlet>
  </div><!-- End: Features Cards -->
</section>
<section></section>
<section class="py-5 mt-5"></section><!-- Start: Footer Multi Column -->
<app-footer></app-footer>
